* {
    background-color: #d7e4ff;
    margin-left: 10px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

ul {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    list-style-type: square;
}

a { 
    text-decoration: none; 
    color: black;
  } 

.a {
    color: red;
}

.b {
    color: brown;
}

.c {
    color: purple;
}
